body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  display: flex;
  width: 80%;
  max-width: 1000px;
  flex-direction: column;
}

img, input {
  max-width: 400px;
}

.red {
  background-color: rgb(179, 31, 31);
  border-radius: 5px;
  color: white;
}

body,
input {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Noto Serif, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 20px;
}

kbd {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}