body,
input {
  font-size: 20px;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Noto Serif, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

kbd {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin-top: 100px;
}

body,
#canvas-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#t-canvas,
#t-button {
  max-width: 400px;
  width: 80%;
}

#t-button {
  margin-top: 5px;
}

#canvas-area {
  flex-direction: column;
  flex-basis: 2;
}